/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Fonts */
:root {
  --fs-14: calc(14 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-22: calc(22 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-48: calc(48 / 16 * 1rem);
  --fs-70: calc(70 / 16 * 1rem);

  --font-size-header: var(--fs-16);
  --font-size-h1: var(--fs-70);
  --font-size-h2: var(--fs-48);
  --font-size-h3: var(--fs-24);
}

/* Colors */
:root {
  --c-green: #54bd95;
  --c-light: #f9f8fe;
  --c-white: #ffffff;
  --c-light-gray: #f9f8fe;
  --c-dark-blue: #161c28;
  --c-dark-gray: #353535;
  --c-gray: #979797;

  --color-header-bg: var(--c-light);
  --color-hero-bg: var(--c-light);
  --color-welcome-bg: var(--c-white);
  --color-support-bg: var(--c-light-gray);
  --color-products-bg: var(--c-white);
  --color-specifications-bg: var(--c-light-gray);
  --color-team-bg: var(--c-white);
  --color-contact-bg: var(--c-dark-blue);
  --color-footer-bg: var(--c-dark-blue);

  --color-btn: var(--c-green);
  --color-btn-text: var(--c-white);

  --color-text-gray: var(--c-gray);
  --color-text-white: var(--c-white);
  --color-text-poppins: var(--c-dark-gray);
  --color-text-support__text: var(--c-gray);
  --color-text-products__desc: var(--c-gray);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 700;
}

h4 {
  font-size: var(--font-size-h4);
}

ul {
  list-style: none;
}

.wrapper {
  width: calc(100% - 156px * 2);
  margin-inline: auto;
}

.header {
  background-color: var(--color-header-bg);
  padding-bottom: 105px;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 14px;
    margin-inline: 26px;
  }

  .header__nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .header__right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  .header__button {
    font-size: var(--fs-14);
  }

  .header__right-links,
  .header__logo {
    width: 224px;
  }

  .header__button {
    font-size: var(--fs-14);
  }

  @media (max-width: 1000px) {
    .header__wrapper {
      width: calc(100% - 156px * 2);
      margin-inline: auto;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    .header__right-links {
      width: auto;
    }
  }
}

.hero {
  padding-bottom: 130px;
  background-color: var(--color-hero-bg);

  .hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__heading {
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .hero__desc {
    margin-bottom: 40px;
    line-height: 30px;
    font-size: var(--fs-18);
  }

  .hero__button {
    width: 170px;
    height: 56px;
    font-size: var(--fs-16);
  }

  .hero__left-content {
    width: 40%;
  }

  .hero__img-container {
    position: relative;
  }

  .hero__blue-chart-img {
    position: absolute;
    top: 20%;
    right: -11%;
  }

  .hero__dvach-img {
    position: absolute;
    top: 35%;
    left: -13%;
  }

  .hero__cactus-img {
    position: absolute;
    top: 40%;
    right: -12%;
  }

  .hero__cup-img {
    position: absolute;
    bottom: -5%;
    left: 20%;
  }

  .hero__rocket-img {
    position: absolute;
    bottom: -5%;
    right: 6%;
  }

  @media (max-width: 1182px) {
    .hero {
      height: 2px;
    }

    .hero__img-container {
      display: none;
    }

    .hero__wrapper {
      display: block;
    }

    .hero__left-content {
      width: 100%;
    }
  }
}

.welcome {
  background-color: var(--color-welcome-bg);
  padding-block: 120px;

  .welcome__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .welcome__text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .welcome__paragraphs {
    line-height: 160%;
    width: 70%;
    font-size: var(--fs-16);
  }

  .welcome__learn-more {
    font-size: var(--fs-16);
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: var(--c-dark-gray);
  }
}

.support {
  padding-block: 120px;
  background-color: var(--color-support-bg);

  .support__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .support__heading {
    margin-bottom: 16px;
  }

  .support__desc {
    width: 90%;
    margin-bottom: 80px;
    font-size: var(--fs-16);
  }

  .support__ratings {
    display: flex;
    gap: 80px;
  }

  .support__rating-block {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .support__stars {
    display: flex;
  }

  .support__rating-text {
    font-size: var(--fs-18);
  }

  .support__rating-entity {
    font-size: var(--fs-18);
  }

  .support__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .support__right-statistics {
    display: flex;
    gap: 20px;
  }

  .support__right-heading {
    margin-bottom: 15px;
  }

  .support__right-desc {
    font-size: var(--fs-18);
  }

  .support__icon-container {
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  .support__white-rectangle {
    width: 64px;
    height: 60px;
  }

  .support__icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .support__clover-icon {
    width: 25px;
    height: 25px;
  }

  .support__text {
    color: var(--color-text-support__text);
    line-height: 30px;
  }
}

.products {
  padding-block: 120px;
  background-color: var(--color-products-bg);

  .products__heading {
    margin-bottom: 40px;
  }

  .products__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .products__block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .products__product-heading {
    font-size: var(--fs-22);
    font-weight: 700;
    margin-block: 16px;
  }

  .products__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .products__product-desc {
    color: var(--color-text-products__desc);
    font-size: var(--fs-16);
  }
}

.specifications {
  padding-block: 80px;
  background-color: var(--color-specifications-bg);

  .specifications__heading {
    font-weight: 700;
    margin-bottom: 40px;
  }

  .specifications__text {
    font-size: var(--fs-16);
  }

  .specifications__text-bold {
    font-size: var(--fs-18);
    font-weight: 700;
  }

  .specifications__link {
    font-size: var(--fs-16);
  }

  .specifications__list-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding-block: 40px;
  }

  .specifications__list-item-left {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.team {
  padding-block: 80px;
  background-color: var(--color-team-bg);

  .team__heading {
    text-align: center;
    margin-bottom: 40px;
  }

  .team__avatars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-block: 40px;
  }

  .team__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
  }

  .team__avatar-heading {
    line-height: 160%;
  }

  .team__avatar-desc {
    line-height: 160%;
    font-size: var(--fs-16);
    color: var(--color-text-gray);
  }

  .team__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team__button {
    display: block;
    font-size: var(--fs-16);
    width: 192px;
    margin-inline: auto;
  }
}

.contacts {
  padding-block: 80px;
  background-color: var(--color-contact-bg);
  color: var(--color-text-white);

  .contacts__heading {
    margin-bottom: 40px;
  }

  .contacts__text {
    font-size: var(--fs-16);
  }

  .contacts__content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    margin-bottom: 80px;
  }

  .contacts__content-left {
    padding-right: 40px;
    border-right: 2px solid #979797;
  }

  .contacts__content-left-heading {
    margin-bottom: 16px;
  }

  .contacts__content-left-text {
    margin-bottom: 40px;
  }

  .contacts__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contacts__form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .contacts__form-input {
    font-size: var(--fs-16);
    border: none;
    outline: none;
    border-bottom: 2px solid #979797;
    background-color: inherit;
    padding-bottom: 16px;
    color: white;
  }

  .contacts__form-input-message {
    grid-column: 1/3;
    padding-bottom: 80px;
  }

  .contacts__form-button {
    display: block;
    width: 192px;
    font-size: var(--fs-16);
    margin-left: auto;
  }

  .contacts__content-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contacts__content-right-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contacts__map-img {
    width: 100%;
    height: 541px;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 6px;
  }
}

.footer {
  line-height: 160%;
  font-size: var(--fs-14);
  background-color: var(--color-footer-bg);
  color: var(--color-text-white);
  padding-block: 56px;

  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 230px;
  }

  .footer__text {
    line-height: 160%;
  }

  .footer__heading {
    font-size: 32px;
    line-height: 100%;
  }

  .footer__heading-strong {
    display: block;
    font-size: var(--fs-16);
    font-weight: 700;
    margin-bottom: 16px;
  }

  .footer__heading-contact {
    font-size: var(--fs-16);
  }

  .footer__left {
    display: flex;
    justify-content: space-between;
  }

  .footer__left-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .footer__right {
    display: flex;
    justify-content: space-between;
  }

  .footer__what-we-do-ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer__social-media-icon {
    display: inline-block;
  }
}

.button {
  padding: 1em 24px;
  font-weight: 600;
  border: none;
  border-radius: 20em;
  color: var(--color-btn-text);
  background-color: var(--color-btn);
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}
