/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Fonts */
:root {
  --fs-14: calc(16 / 14 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-18: calc(16 / 18 * 1rem);
  --fs-22: calc(16 / 22 * 1rem);
  --fs-48: calc(16 / 48 * 1rem);
  --fs-70: calc(16 / 70 * 1rem);

  --font-size-header: var(--fs-16);
  --font-size-h1: var(--fs-70);
  --font-size-h2: var(--fs-48);
  --font-size-h3: var(--fs-22);
}

/* Colors */
:root {
  --c-green: #54bd95;
  --c-light: #f9f8fe;
  --c-white: #ffffff;
  --c-light-gray: #f9f8fe;
  --c-dark-blue: #161c28;

  --color-header-bg: var(--c-light);
  --color-plato-bg: var(--c-white);
  --color-partner-support-bg: var(--c-light-gray);
  --color-products-and-services-bg: var(--c-white);
  --color-specifications-bg: var(--c-light-gray);
  --color-our-team-bg: var(--c-white);
  --color-footer: var(--c-dark-blue);

  --color-btn: var(--c-green);
  --color-btn-text: var(--c-white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

ul {
  list-style: none;
}

.header {
  background-color: var(--color-header-bg);

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 14px;
    margin-inline: 26px;
  }

  .header__nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .header__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  .header__buttons,
  .header__logo {
    width: 224px;
  }
}

.wrapper {
  width: calc(100% - 156 * 2);
}

.button {
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  color: var(--color-btn-text);
  background-color: var(--color-btn);
}
